In [2]:
import sqlite3
import pandas as pd
con = sqlite3.connect('occupancy.csv')
sql = ''' select * from occupancy t'''
pd.read_sql(sql,con)

DatabaseError: Execution failed on sql ' select * from occupancy t': no such table: occupancy