In [32]:
import pandas as pd
import numpy as np
import datetime 
from datetime import datetime, date

vine = pd.read_csv(r"C:\Users\Admin\Downloads\wine_base.csv")

vine2 = vine.groupby(["country","province"]).mean()
vine2.loc["US"]

C:\Users\Admin\AppData\Local\Temp\ipykernel_15208\1426555609.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  vine2 = vine.groupby(["country","province"]).mean()

                      Unnamed: 0     points      price
province
America             52222.037037  86.481481  20.962963
Arizona             45888.923077  84.897436  27.684211
California          77702.720365  87.682731  35.506042
Colorado            64948.600000  84.366667  22.533333
Connecticut         93789.500000  83.500000  14.000000
Idaho               40375.654412  85.477941  20.294118
Iowa                73330.000000  83.500000  13.750000
Kentucky           121860.000000  82.250000  30.750000
Massachusetts       79304.800000  85.100000  21.900000
Michigan            92187.200000  83.160000  22.000000
Missouri            86445.166667  83.866667  20.633333
Nevada             126262.000000  84.000000  75.000000
New Jersey         102723.375000  83.416667  19.541667
New Mexico          90098.494737  83.947368  20.884211
New York            72066.845552  86.156507  20.780538
North Carolina      26878.100000  83.950000  20.350000
Ohio                99355.705882  83.705882  14.676471
Oregon              61157.074744  88.509261  34.078101
Pennsylvania       107658.000000  83.500000  24.120000
Texas              103167.487805  85.219512  17.902439
Vermont             91356.000000  84.500000  35.000000
Virginia            58182.473786  85.120388  25.523622
Washington          77725.851282  88.879692  29.393123
Washington-Oregon   73441.000000  85.666667  18.000000

In [30]:
import pandas as pd
import numpy as np
import datetime 
from datetime import datetime, date

vine = pd.read_csv(r"C:\Users\Admin\Downloads\wine_base.csv")

vine.groupby("country").count()

,Unnamed: 0,description,designation,points,price,province,region_1,region_2,variety,winery
country,,,,,,,,,,
Albania,2,2,0,2,2,2,0,0,2,2
Argentina,5631,5631,3936,5631,5587,5631,5627,0,5631,5631
Australia,4957,4957,3347,4957,4894,4957,4957,0,4957,4957
Austria,3057,3057,2654,3057,2483,3057,0,0,3057,3057
Bosnia and Herzegovina,4,4,1,4,4,4,0,0,4,4
Brazil,25,25,18,25,25,25,0,0,25,25
Bulgaria,77,77,51,77,77,77,0,0,77,77
Canada,196,196,145,196,194,196,196,0,196,196
Chile,5816,5816,4917,5816,5766,5816,0,0,5816,5816
China,3,3,1,3,3,3,0,0,3,3
Croatia,89,89,60,89,83,89,0,0,89,89
Cyprus,31,31,25,31,31,31,0,0,31,31
Czech Republic,6,6,0,6,6,6,0,0,6,6
Egypt,3,3,2,3,0,3,0,0,3,3
England,9,9,9,9,8,9,0,0,9,9
France,21098,21098,14507,21098,14785,21098,21083,0,21098,21098
Georgia,43,43,38,43,43,43,0,0,43,43
Germany,2452,2452,2299,2452,2347,2452,0,0,2452,2452
Greece,884,884,605,884,872,884,0,0,884,884
Hungary,231,231,182,231,230,231,0,0,231,231
India,8,8,4,8,8,8,0,0,8,8
Israel,630,630,568,630,610,630,0,0,630,630
Italy,23478,23478,16890,23478,18784,23478,23478,0,23478,23478
Japan,2,2,2,2,2,2,0,0,2,2
Lebanon,37,37,29,37,37,37,0,0,37,37
Lithuania,8,8,8,8,8,8,0,0,8,8
Luxembourg,9,9,9,9,9,9,0,0,9,9
Macedonia,16,16,7,16,16,16,0,0,16,16
Mexico,63,63,46,63,63,63,0,0,63,63
Moldova,71,71,58,71,71,71,0,0,71,71
Montenegro,2,2,0,2,2,2,0,0,2,2
Morocco,12,12,5,12,12,12,0,0,12,12
New Zealand,3320,3320,1585,3320,3070,3320,0,0,3320,3320
Portugal,5322,5322,4769,5322,4176,5322,0,0,5322,5322
Romania,139,139,118,139,139,139,0,0,139,139
Serbia,14,14,11,14,14,14,0,0,14,14
Slovakia,3,3,0,3,3,3,0,0,3,3
Slovenia,94,94,60,94,81,94,0,0,94,94
South Africa,2258,2258,1200,2258,2237,2258,0,0,2258,2258
South Korea,4,4,4,4,4,4,0,0,4,4
Spain,8268,8268,6554,8268,8160,8268,8268,0,8268,8268
Switzerland,4,4,3,4,4,4,0,0,4,4
Tunisia,2,2,2,2,0,2,0,0,2,2
Turkey,52,52,34,52,50,52,0,0,52,52
US,62397,62397,40345,62397,62139,62397,62261,60953,62397,62397
US-France,1,1,0,1,1,1,0,0,1,1
Ukraine,5,5,5,5,5,5,0,0,5,5
Uruguay,92,92,77,92,85,92,0,0,92,92