In [50]:
import pandas as pd
import numpy as np


lst = [["Карлберг","Пепси","Кольца Кальмара","Леденцы",],["Бад","Кола","Свиные уши","Сигареты"],["Балтика","Спрайт","Лосось","Спички"],
["Толстяк","Леденцы","Минтай","Зажигалки"],["Балтика","None","Сыр","Игрушки"],["Толстяк","None","Лещь","Мороженное"],["Пит","None","Орешки","Конфетки"],["Гараж","None","None","Симкарты"]]
col=["Пиво","Безалкогольные напитки","Закуски","Иная продукция"]
df = pd.DataFrame(lst,columns = col)
df.index = [1,2,3,4,5,6,7,8]
napitki = df.groupby(["Пиво","Безалкогольные напитки"]).mean()
nenapitki = df.groupby(["Закуски","Иная продукция"]).mean

nap = df[["Пиво","Безалкогольные напитки"]]
nenap = df[["Закуски","Иная продукция"]]

nap

C:\Users\Admin\AppData\Local\Temp\ipykernel_4776\4251557191.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  napitki = df.groupby(["Пиво","Безалкогольные напитки"]).mean()

       Пиво Безалкогольные напитки
1  Карлберг                  Пепси
2       Бад                   Кола
3   Балтика                 Спрайт
4   Толстяк                Леденцы
5   Балтика                   None
6   Толстяк                   None
7       Пит                   None
8     Гараж                   None