In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
song=["Северные ветра","Мороз по коже","Лесник","Зеркала"]
artist=["Мукка","Сплин","Король и шут","Скриптонит"]

In [5]:
songart = {"artist":artist,
          "song":song}
songart2 = pd.DataFrame(songart)
songart2

         artist            song
0         Мукка  Северные ветра
1         Сплин   Мороз по коже
2  Король и шут          Лесник
3    Скриптонит         Зеркала

In [19]:
x = list()
b = 1
while b <=8:
    x.append(b)
    b+=2
songart2.index = x
songart2

         artist            song
1         Мукка  Северные ветра
3         Сплин   Мороз по коже
5  Король и шут          Лесник
7    Скриптонит         Зеркала

In [39]:
lst1 = [{"Название фильма":"Побег из Шоушенка","Жанр":"Драма","Год":1994},
                         {"Название фильма":"Зеленая миля","Жанр":"Фентези","Год":1999},
                        {"Название фильма":"Форест Гамп","Жанр":"Мелодрама","Год":1994},
                        {"Название фильма":"Операция 'Ы' и другие приключения Шурика","Жанр":"комедия","Год":1965},
                        {"Название фильма":"Бойцовский клуб","Жанр":"Триллер","Год":1999},
                        {"Название фильма":"Начало","Жанр":"Фантастика","Год":2010}]
lst2 = list()
a = list(lst1[1].keys())
for i in range(len(a)):
    c = min(a)
    lst2.append(c)
    a.remove(c)


alfach = pd.DataFrame(lst1, columns = lst2)
alfach

    Год        Жанр                           Название фильма
0  1994       Драма                         Побег из Шоушенка
1  1999     Фентези                              Зеленая миля
2  1994   Мелодрама                               Форест Гамп
3  1965     комедия  Операция 'Ы' и другие приключения Шурика
4  1999     Триллер                           Бойцовский клуб
5  2010  Фантастика                                    Начало