In [4]:
import pandas as pd
import numpy as np

game = pd.Series(["action","GTA:San Andeas"])
game2 = pd.Series(["sport","FIFA"])
game3 = pd.Series(["adventure","Stray"])
game4 = pd.Series(["horror","Outlast"])
game5 = pd.Series(["RPG","Warcraft III"])

dt_frame = pd.DataFrame([game,game2,game3,game4,game5])
dt_frame.columns = ["Жанр","Игра"]
dt_frame

        Жанр            Игра
0     action  GTA:San Andeas
1      sport            FIFA
2  adventure           Stray
3     horror         Outlast
4        RPG    Warcraft III