In [4]:
import pandas as pd
import numpy as np 

year = [1945,1946,1947,1948,1949,1950,]
name = ["Стив Мартин","Голди Хоун","Хелен Миррен","Лариса Рубальская","Максим Дунаевский","Родриго Дутерте"]
name2 = ["Алан Рикман","Тимоти Далтон","Сьюзен Сарандон","Дайан Китон","Стивен Спилберг","Сильвестр Сталлоне"]
name3 = ["Гленн Клоуз","Сэм Нилл","Джеймс Вудс","Кевин Клайн","Пауло Коэльо","Стивен Кинг"]
name4 = ["Жерар Депардье","Кэти Бэйтс","Ирина Винер","Жан Рено","Михаил Веллер","Валерий Харламов"]
name5 = ["Джереми Айронс","Михаил Барышников","Михаил Задорнов","Джон Карпентер","Сэмюэл Л. Джексон","Наталья Гундарева"]
name6 = ["Билл Мюррей","Сергей Лавров","Ричард Брэнсон","Борис Невзоров","Борис Бурда","Светлана Крючкова"]

year_name = {year[1]:name,year[2]:name2,year[3]:name3,year[4]:name4,year[5]:name5,yaer[6]:name6}
dt_frame = pd.DataFrame(year_name)
dt_frame

NameError: name 'yaer' is not defined

In [2]:
import pandas as pd
import numpy as np 

year = 1945
year2 = 1946
year3=1947
year4=1948
year5=1949
year6=1950
name = ["Стив Мартин","Голди Хоун","Хелен Миррен","Лариса Рубальская","Максим Дунаевский","Родриго Дутерте"]
name2 = ["Алан Рикман","Тимоти Далтон","Сьюзен Сарандон","Дайан Китон","Стивен Спилберг","Сильвестр Сталлоне"]
name3 = ["Гленн Клоуз","Сэм Нилл","Джеймс Вудс","Кевин Клайн","Пауло Коэльо","Стивен Кинг"]
name4 = ["Жерар Депардье","Кэти Бэйтс","Ирина Винер","Жан Рено","Михаил Веллер","Валерий Харламов"]
name5 = ["Джереми Айронс","Михаил Барышников","Михаил Задорнов","Джон Карпентер","Сэмюэл Л. Джексон","Наталья Гундарева"]
name6 = ["Билл Мюррей","Сергей Лавров","Ричард Брэнсон","Борис Невзоров","Борис Бурда","Светлана Крючкова"]

year_name = {year:name, year2:name2, year3:name3,year4:name4,year5:name5,year6:name6}




dt_frame = pd.DataFrame(year_name)   
dt_frame

,1945,1946,1947,1948,1949,1950
0,Стив Мартин,Алан Рикман,Гленн Клоуз,Жерар Депардье,Джереми Айронс,Билл Мюррей
1,Голди Хоун,Тимоти Далтон,Сэм Нилл,Кэти Бэйтс,Михаил Барышников,Сергей Лавров
2,Хелен Миррен,Сьюзен Сарандон,Джеймс Вудс,Ирина Винер,Михаил Задорнов,Ричард Брэнсон
3,Лариса Рубальская,Дайан Китон,Кевин Клайн,Жан Рено,Джон Карпентер,Борис Невзоров
4,Максим Дунаевский,Стивен Спилберг,Пауло Коэльо,Михаил Веллер,Сэмюэл Л. Джексон,Борис Бурда
5,Родриго Дутерте,Сильвестр Сталлоне,Стивен Кинг,Валерий Харламов,Наталья Гундарева,Светлана Крючкова