In [1]:
import pandas as pd
import numpy as np
import datetime 
from datetime import datetime, date


df = pd.read_csv(r"C:\Users\Admin\Downloads\occupancy.csv")
df.loc[[2,4]]

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
2,2015-02-04 17:53:00,23.15,27.245,426.0,713.5,0.004779,1
4,2015-02-04 17:55:00,23.10,27.200,426.0,704.5,0.004757,1