In [25]:
import pandas as pd
import numpy as np
product = {"Продукты":["Мясо","Молоко","Макароны","Чай","Водка","Шампиньоны","Доширак","Бекон","Огурцы","Помидоры","Лимон","Сыр","Шоколад","Кукуруза","Рыба"],
          "Каллорийность":[145,40,30,10,100,56,150,200,15,13,10,25,200,39,67]}
df = pd.DataFrame(product)

ind = list()
i = 0
for i in range(15):
    i+=1
    ind.append(i)
df.index = ind

df[["Каллорийность","Продукты"]]

newindex = list()
for i in ind:
    if i % 2 == 0:
        newindex.append(i)
        
df.drop(newindex)

df.index = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o"]
df

     Продукты  Каллорийность
a        Мясо            145
b      Молоко             40
c    Макароны             30
d         Чай             10
e       Водка            100
f  Шампиньоны             56
g     Доширак            150
h       Бекон            200
i      Огурцы             15
j    Помидоры             13
k       Лимон             10
l         Сыр             25
m     Шоколад            200
n    Кукуруза             39
o        Рыба             67